@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Balsamiq Sans';
}

.navbar {
	background-color: gray;
	flex: 50%;
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
}
.navbtn {
	padding: 10px 40px 10px 40px;
	border: transparent;
	margin-left: 10%;
	border-radius: 9px 9px;
	font-family: 'Balsamiq Sans';
}
.nav-img {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 80px;
	height: auto;
}

.navbar .rightside {
	flex: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 30px;
}
.navtext {
	margin-right: 5px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.2em;
	color: black;
}
.navtext:hover {
	cursor: pointer;
}

/* hero text*/
.hero {
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-column-gap: 350px;
}
.hero .heroText {
	margin-top: 130px;
	margin-left: 100px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	font-size: 3rem;
	max-width: 450px;
}

/* form*/
form {
	margin-top: 80px;
	margin-left: 50px;
}
input[type='text'],
input[type='email'],
input[type='password'],
select {
	background-color: rgba(150, 144, 144, 0.849) !important;
	width: 50% !important;
	border-radius: 9px 9px !important;
	padding: 10px !important;
}

.nextBtn {
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	background-color: rgba(150, 144, 144, 0.849);
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

.checkbox-cont {
	width: 50%;
}

.checkbox {
	margin-bottom: 10px;
}

/* next page */
.labelTxt {
	width: 44%;
	font-size: 1.3em !important;
	line-height: 25px;
}
.downloadBtn {
	padding: 0.8em 2em 0.8em 2em;
	font-size: 1em;
	border-radius: 0.6em 0.6em;
	border: transparent;
	background-color: rgba(102, 97, 97, 0.849);
	margin-left: 7em;
	color: white;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}
.form-field input[type='placeholder'] {
	color: rgb(0, 0, 0) !important;
}
.form-cont input,
select {
	width: 50% !important;
}
.registerBtn {
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	background-color: rgba(150, 144, 144, 0.849);
	margin-left: 54em;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

/* login page*/
.login-form {
	margin-top: 10em;
	width: 100%;
}
.hero-login {
	display: grid;
	grid-template-columns: repeat(2, 600px);
	grid-column-gap: 300px;
}
.hero-login .heroText {
	margin-top: 130px;
	margin-left: 100px;
	font-family: 'Balsamiq Sans';
	font-weight: bold;
	font-size: 3rem;
	max-width: 450px;
}
.loginBtn {
	padding: 1em 7em 1em 7em;
	font-size: 1.3em;
	border-radius: 1.3em 1.3em;
	border: transparent;
	margin-top: 5%;
	background-color: rgba(150, 144, 144, 0.849);
	font-family: 'Balsamiq Sans';
	font-weight: bold;
}

/*resources page*/
.navbar .nav-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 30px;
}

.navbar a {
	color: black;
	cursor: default;
}

.navbar .fa-bell,
.fa-user-circle {
	font-size: 1.4em;
}

.second-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin-left: 20px;
}

.second-menu > a {
	color: black;
}

.center-text {
	text-align: center;
	font-family: 'Balsamiq Sans';
	font-size: 3em;
	font-weight: bold;
	margin-top: 1em;
}

.search-box {
	text-align: center;
}

.search-box > .input {
	width: 40% !important;
}

.search-box input[type='text'] {
	padding: 15px !important;
	background-color: rgb(236, 236, 236) !important;
	border-radius: 19px 19px !important;
	border: 0px rgb(236, 236, 236);
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
}
.search-box input[type='text']:focus {
	box-shadow: 0px 7px 7px 7px rgb(211, 210, 210);
}
.or-text {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.other-text {
	text-align: center;
}
.heading {
	margin-left: 20px;
}
/* card */
.card-cont {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 70px;
	width: 100%;
	overflow-y: scroll;
}

.card {
	height: 375px !important;
	width: 360px !important;
	background: #c4c4c4 !important;
	border-radius: 20px 20px 20px 20px !important;
	overflow: hidden;
	margin-left: 50px !important;
	margin-bottom: 30px !important;
}

.card img {
	height: 254px !important;
	width: 360px !important;
	left: 0px;
	top: 0px;
	border-radius: 20px 20px 0px 0px !important;
}

.heading {
	margin-top: 20px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}
.date {
	font-family: Poppins;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: black;
}

.description {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: black !important;
}
/* rescorces */
.resource-holder {
	margin-top: 20px;
	display: flex;
}

.resource-card {
	width: 303px;
	height: 350px;
	margin-left: 20px;
	background: #c4c4c4;
	border-radius: 15px;
}
.card-img {
	height: 213px;
	width: 301px;
	border-radius: 20px 20px 0px 0px;
}

.subhead {
	font-family: 'Poppins';

	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	margin-left: 20px;
	font-size: 1.2em;
}
.download-res {
	background: #c4c4c4;
	border: 1px solid #000000;
	width: 100px;
	padding: 10px 25px 10px 20px;
	margin-top: 60px;
	margin-left: 190px;
	border-radius: 15px;
}
/*home */
.headerTxt {
	font-family: 'Fredoka One';
	font-style: normal;
	font-weight: normal;
	font-size: 54px;
	line-height: 65px;
	margin-top: 60px;
	margin-left: 70px;
}

.subText {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.card-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 50px;
}

.card-1 {
	width: 402px;
	height: 132px;
	background: #c4c4c4;
	border-radius: 11px;
}

.card-head {
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.inside-text {
	margin-top: 5px;
	margin-left: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.list-Text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.list-items {
	margin-left: 100px;
	font-size: 1.4em;
	font-weight: 300;
	font-family: 'Poppins';
	width: 409px;
}

.list-items li {
	margin-top: 15px;
}

.resources-text {
	margin-top: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	margin-left: 70px;
}

.resources-cont {
	display: flex;
	flex-direction: row;
}

.resource-1 {
	width: 365px;
	height: 305px;
	background: #c4c4c4;
	border-radius: 11px;
	margin-left: 70px;
}
